@page
@model AdminMapModel
@{
    ViewData["Title"] = "AdminMap page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/map.css">
</head>
<body>
    <div id="map-test" class="map"></div>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=@Model.ApiKey&lang=ru_RU"></script>
    <script src="/js/adminMap.js"></script>
</body>
</html>

