@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<h2>Добро пожаловать @Model.UserName в приложение "КартаПогоды" !</h2>
<p>Для полного доступа к функционалу карты и другим возможностям, пожалуйста, зарегистрируйтесь и авторизуйтесь.</p>

<h3>Функционал для пользователей:</h3>
<ul>
    <li>
        <strong>Карта:</strong>
        <ul>
            <li>Щелкните правой кнопкой мыши на любой точке карты, чтобы установить метку.</li>
            <li>Нажмите на метку, чтобы узнать актуальную информацию о погоде в этой точке <br />и построить маршрут от вашего текущего местоположения или определенной точки до метки.</li>

        </ul>
    </li>
    <li>
        <strong>Профиль пользователя:</strong>
        <ul>
            <li>Щелкните на иконку профиля, чтобы выйти из аккаунта.</li>
            <li>Переключите язык интерфейса на английский с помощью Google Translate.</li>
        </ul>
    </li>
</ul>

<h3>Функционал для администраторов:</h3>
<ul>
    <li>
        <strong>Административная панель:</strong>
        <ul>
            <li>Вход осуществляется с использованием следующих данных:</li>
            <li><strong>Email:</strong> admin@example.com</li>
            <li><strong>Пароль:</strong> Admin123</li>
        </ul>
    </li>
    <li>
        <strong>Карта:</strong>
        <ul>
            <li>Щелкните правой кнопкой мыши на любой точке карты, чтобы установить метку.</li>
            <li>Нажмите на метку, чтобы узнать актуальную информацию о погоде в этой точке <br />и построить маршрут от вашего текущего местоположения или определенной точки до метки.</li>
        </ul>
    </li>
    <li>
        <strong>Добавление пользователей:</strong>
        <ul>
            <li>Возможность добавления новых пользователей с различными ролями: user / admin</li>
        </ul>
    </li>
    <li>
        <strong>Карта спецтранспорта:</strong>
        <ul>
            <li>Отображение меток, добавленных спецслужбами на трассе М4.</li>
            <li>Добавление меток осуществляется через интерфейс Swagger.</li>
        </ul>
    </li>
    <li>
        <strong>Управление пользователями:</strong>
        <ul>
            <li>Просмотр списка всех пользователей.</li>
            <li>Возможность удаления пользователей.</li>
        </ul>
    </li>
    <li>
        <strong>Управление транспортными запросами:</strong>
        <ul>
            <li>Просмотр и удаление транспортных запросов.</li>
        </ul>
    </li>
</ul>

     
